## Base16 DanQing
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2d302f
text-color=#e0f0ef
border-color=#8ab361

[urgency=low]
background-color=#2d302f
text-color=#f0c239
border-color=#8ab361

[urgency=high]
background-color=#2d302f
text-color=#f9906f
border-color=#f9906f
