## Base16 Nova
# Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#3c4c55
text-color=#c5d4dd
border-color=#7fc1ca

[urgency=low]
background-color=#3c4c55
text-color=#a8ce93
border-color=#7fc1ca

[urgency=high]
background-color=#3c4c55
text-color=#83afe5
border-color=#83afe5
