## Base16 Tokyo Night Light
# Author: Michaël Ball
#
# You can use these variables anywhere in the mako configuration file.

background-color=#d5d6db
text-color=#343b59
border-color=#485e30

[urgency=low]
background-color=#d5d6db
text-color=#166775
border-color=#485e30

[urgency=high]
background-color=#d5d6db
text-color=#343b58
border-color=#343b58
