## Base16 Atelier Cave Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#efecf4
text-color=#585260
border-color=#2a9292

[urgency=low]
background-color=#efecf4
text-color=#a06e3b
border-color=#2a9292

[urgency=high]
background-color=#efecf4
text-color=#be4678
border-color=#be4678
