## Base16 selenized-white
# Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ffffff
text-color=#474747
border-color=#008400

[urgency=low]
background-color=#ffffff
text-color=#af8500
border-color=#008400

[urgency=high]
background-color=#ffffff
text-color=#bf0000
border-color=#bf0000
