## Base16 standardized-light
# Author: ali (https://github.com/ali-githb/base16-standardized-scheme)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ffffff
text-color=#444444
border-color=#31861f

[urgency=low]
background-color=#ffffff
text-color=#ad8200
border-color=#31861f

[urgency=high]
background-color=#ffffff
text-color=#d03e3e
border-color=#d03e3e
