## Base16 Classic Dark
# Author: Jason Heeris (http://heeris.id.au)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#151515
text-color=#d0d0d0
border-color=#90a959

[urgency=low]
background-color=#151515
text-color=#f4bf75
border-color=#90a959

[urgency=high]
background-color=#151515
text-color=#ac4142
border-color=#ac4142
