## Base16 darkbox
# Author: Pablo Alessandro Santos Hugen
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#d5c4a1
border-color=#b8bb26

[urgency=low]
background-color=#000000
text-color=#fabd2f
border-color=#b8bb26

[urgency=high]
background-color=#000000
text-color=#fb4934
border-color=#fb4934
