## Base16 Colors
# Author: mrmrs (http://clrs.cc)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#111111
text-color=#bbbbbb
border-color=#2ecc40

[urgency=low]
background-color=#111111
text-color=#ffdc00
border-color=#2ecc40

[urgency=high]
background-color=#111111
text-color=#ff4136
border-color=#ff4136
