## Base16 Measured Light
# Author: Measured (https://measured.co)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fdf9f5
text-color=#292929
border-color=#0c680c

[urgency=low]
background-color=#fdf9f5
text-color=#645a00
border-color=#0c680c

[urgency=high]
background-color=#fdf9f5
text-color=#ac1f35
border-color=#ac1f35
