## Base16 Tokyo City Terminal Light
# Author: Michaël Ball
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fbfbfd
text-color=#28323a
border-color=#33635c

[urgency=low]
background-color=#fbfbfd
text-color=#8f5e15
border-color=#33635c

[urgency=high]
background-color=#fbfbfd
text-color=#8c4351
border-color=#8c4351
