## Base16 darkula
# Author: Pablo Alessandro Santos Hugen
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#f8f8f2
border-color=#50fa7b

[urgency=low]
background-color=#000000
text-color=#f1fa8c
border-color=#50fa7b

[urgency=high]
background-color=#000000
text-color=#ff5555
border-color=#ff5555
