## Base16 selenized-light
# Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fbf3db
text-color=#53676d
border-color=#428b00

[urgency=low]
background-color=#fbf3db
text-color=#a78300
border-color=#428b00

[urgency=high]
background-color=#fbf3db
text-color=#cc1729
border-color=#cc1729
