## Base16 OneDark Dark
# Author: olimorris (https://github.com/olimorris)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#abb2bf
border-color=#89ca78

[urgency=low]
background-color=#000000
text-color=#e5c07b
border-color=#89ca78

[urgency=high]
background-color=#000000
text-color=#ef596f
border-color=#ef596f
