## Base16 tender
# Author: Jacobo Tabernero (https://github/com/jacoborus/tender.vim)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#282828
text-color=#eeeeee
border-color=#c9d05c

[urgency=low]
background-color=#282828
text-color=#ffc24b
border-color=#c9d05c

[urgency=high]
background-color=#282828
text-color=#f43753
border-color=#f43753
