## Base16 Precious Light Warm
# Author: 4lex4 &lt;4lex49@zoho.com&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fff5e5
text-color=#4e5359
border-color=#557300

[urgency=low]
background-color=#fff5e5
text-color=#876500
border-color=#557300

[urgency=high]
background-color=#fff5e5
text-color=#b14745
border-color=#b14745
