## Base16 Terracotta Dark
# Author: Alexander Rossell Hayes (https://github.com/rossellhayes)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#241d1a
text-color=#b8a59d
border-color=#b6c68a

[urgency=low]
background-color=#241d1a
text-color=#ffc37a
border-color=#b6c68a

[urgency=high]
background-color=#241d1a
text-color=#f6998f
border-color=#f6998f
