## Base16 Mocha
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#3b3228
text-color=#d0c8c6
border-color=#beb55b

[urgency=low]
background-color=#3b3228
text-color=#f4bc87
border-color=#beb55b

[urgency=high]
background-color=#3b3228
text-color=#cb6077
border-color=#cb6077
