## Base16 Vesper
# Author: FormalSnake (https://github.com/formalsnake)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#101010
text-color=#b7b7b7
border-color=#5f8787

[urgency=low]
background-color=#101010
text-color=#ffc799
border-color=#5f8787

[urgency=high]
background-color=#101010
text-color=#de6e6e
border-color=#de6e6e
