## Base16 Catppuccin Frappe
# Author: https://github.com/catppuccin/catppuccin
#
# You can use these variables anywhere in the mako configuration file.

background-color=#303446
text-color=#c6d0f5
border-color=#a6d189

[urgency=low]
background-color=#303446
text-color=#e5c890
border-color=#a6d189

[urgency=high]
background-color=#303446
text-color=#e78284
border-color=#e78284
