## Base16 Horizon Dark
# Author: Michaël Ball (http://github.com/michael-ball/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1c1e26
text-color=#cbced0
border-color=#efaf8e

[urgency=low]
background-color=#1c1e26
text-color=#efb993
border-color=#efaf8e

[urgency=high]
background-color=#1c1e26
text-color=#e93c58
border-color=#e93c58
