## Base16 Measured Dark
# Author: Measured (https://measured.co)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#00211f
text-color=#dcdcdc
border-color=#56c16f

[urgency=low]
background-color=#00211f
text-color=#bfac4e
border-color=#56c16f

[urgency=high]
background-color=#00211f
text-color=#ce7e8e
border-color=#ce7e8e
