## Base16 Mountain
# Author: gnsfujiwara (https://github.com/gnsfujiwara)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0f0f0f
text-color=#cacaca
border-color=#8aac8b

[urgency=low]
background-color=#0f0f0f
text-color=#aca98a
border-color=#8aac8b

[urgency=high]
background-color=#0f0f0f
text-color=#ac8a8c
border-color=#ac8a8c
