## Base16 Darktooth
# Author: Jason Milkins (https://github.com/jasonm23)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1d2021
text-color=#a89984
border-color=#95c085

[urgency=low]
background-color=#1d2021
text-color=#fac03b
border-color=#95c085

[urgency=high]
background-color=#1d2021
text-color=#fb543f
border-color=#fb543f
