## Base16 Kimber
# Author: Mishka Nguyen (https://github.com/akhsiM)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#222222
text-color=#dedee7
border-color=#99c899

[urgency=low]
background-color=#222222
text-color=#d8b56d
border-color=#99c899

[urgency=high]
background-color=#222222
text-color=#c88c8c
border-color=#c88c8c
