## Base16 Google Dark
# Author: Seth Wright (http://sethawright.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1d1f21
text-color=#c5c8c6
border-color=#198844

[urgency=low]
background-color=#1d1f21
text-color=#fba922
border-color=#198844

[urgency=high]
background-color=#1d1f21
text-color=#cc342b
border-color=#cc342b
