## Base16 Eva
# Author: kjakapat (https://github.com/kjakapat)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2a3b4d
text-color=#9fa2a6
border-color=#66ff66

[urgency=low]
background-color=#2a3b4d
text-color=#ffff66
border-color=#66ff66

[urgency=high]
background-color=#2a3b4d
text-color=#c4676c
border-color=#c4676c
