## Base16 Framer
# Author: Framer (Maintained by Jesse Hoyos)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#181818
text-color=#d0d0d0
border-color=#32ccdc

[urgency=low]
background-color=#181818
text-color=#fecb6e
border-color=#32ccdc

[urgency=high]
background-color=#181818
text-color=#fd886b
border-color=#fd886b
