## Base16 Jabuti
# Author: https://github.com/notusknot
#
# You can use these variables anywhere in the mako configuration file.

background-color=#292a37
text-color=#c0cbe3
border-color=#3fdaa4

[urgency=low]
background-color=#292a37
text-color=#e1c697
border-color=#3fdaa4

[urgency=high]
background-color=#292a37
text-color=#ec6a88
border-color=#ec6a88
