## Base16 Tokyo Night Dark
# Author: Michaël Ball
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1a1b26
text-color=#a9b1d6
border-color=#9ece6a

[urgency=low]
background-color=#1a1b26
text-color=#0db9d7
border-color=#9ece6a

[urgency=high]
background-color=#1a1b26
text-color=#c0caf5
border-color=#c0caf5
