## Base16 Google Light
# Author: Seth Wright (http://sethawright.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ffffff
text-color=#373b41
border-color=#198844

[urgency=low]
background-color=#ffffff
text-color=#fba922
border-color=#198844

[urgency=high]
background-color=#ffffff
text-color=#cc342b
border-color=#cc342b
