## Base16 Horizon Terminal Dark
# Author: Michaël Ball (http://github.com/michael-ball/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1c1e26
text-color=#cbced0
border-color=#29d398

[urgency=low]
background-color=#1c1e26
text-color=#fac29a
border-color=#29d398

[urgency=high]
background-color=#1c1e26
text-color=#e95678
border-color=#e95678
