## Base16 Nord
# Author: arcticicestudio
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2e3440
text-color=#e5e9f0
border-color=#a3be8c

[urgency=low]
background-color=#2e3440
text-color=#ebcb8b
border-color=#a3be8c

[urgency=high]
background-color=#2e3440
text-color=#bf616a
border-color=#bf616a
