## Base16 SAGA
# Author: https://github.com/SAGAtheme/SAGA
#
# You can use these variables anywhere in the mako configuration file.

background-color=#05080a
text-color=#dce2f7
border-color=#f7ddff

[urgency=low]
background-color=#05080a
text-color=#fbebc8
border-color=#f7ddff

[urgency=high]
background-color=#05080a
text-color=#ffd4e9
border-color=#ffd4e9
