## Base16 selenized-dark
# Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
#
# You can use these variables anywhere in the mako configuration file.

background-color=#103c48
text-color=#adbcbc
border-color=#75b938

[urgency=low]
background-color=#103c48
text-color=#dbb32d
border-color=#75b938

[urgency=high]
background-color=#103c48
text-color=#fa5750
border-color=#fa5750
