## Base16 Blueish
# Author: Ben Mayoras
#
# You can use these variables anywhere in the mako configuration file.

background-color=#182430
text-color=#c8e1f8
border-color=#c3e88d

[urgency=low]
background-color=#182430
text-color=#82aaff
border-color=#c3e88d

[urgency=high]
background-color=#182430
text-color=#4ce587
border-color=#4ce587
