## Base16 Katy
# Author: George Essig (https://github.com/gessig)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#292d3e
text-color=#959dcb
border-color=#78c06e

[urgency=low]
background-color=#292d3e
text-color=#e0a557
border-color=#78c06e

[urgency=high]
background-color=#292d3e
text-color=#6e98e1
border-color=#6e98e1
