## Base16 rosedark
# Author: Pablo Alessandro Santos Hugen
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#f5e0dc
border-color=#31748f

[urgency=low]
background-color=#000000
text-color=#f5e0dc
border-color=#31748f

[urgency=high]
background-color=#000000
text-color=#f5e0dc
border-color=#eb6f92
