## Base16 ShadeSmear Light
# Author: Kyle Giammarco (http://kyle.giammar.co)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#dbdbdb
text-color=#232323
border-color=#71983b

[urgency=low]
background-color=#dbdbdb
text-color=#307878
border-color=#71983b

[urgency=high]
background-color=#dbdbdb
text-color=#cc5450
border-color=#cc5450
