## Base16 Gruvbox Material Dark, Medium
# Author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#292828
text-color=#ddc7a1
border-color=#a9b665

[urgency=low]
background-color=#292828
text-color=#d8a657
border-color=#a9b665

[urgency=high]
background-color=#292828
text-color=#ea6962
border-color=#ea6962
