## Base16 Cupcake
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fbf1f2
text-color=#8b8198
border-color=#a3b367

[urgency=low]
background-color=#fbf1f2
text-color=#dcb16c
border-color=#a3b367

[urgency=high]
background-color=#fbf1f2
text-color=#d57e85
border-color=#d57e85
