## Base16 Terracotta
# Author: Alexander Rossell Hayes (https://github.com/rossellhayes)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#efeae8
text-color=#473731
border-color=#7a894a

[urgency=low]
background-color=#efeae8
text-color=#ce943e
border-color=#7a894a

[urgency=high]
background-color=#efeae8
text-color=#a75045
border-color=#a75045
