## Base16 Espresso
# Author: Unknown. Maintained by Alex Mirrington (https://github.com/alexmirrington)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2d2d2d
text-color=#cccccc
border-color=#a5c261

[urgency=low]
background-color=#2d2d2d
text-color=#ffc66d
border-color=#a5c261

[urgency=high]
background-color=#2d2d2d
text-color=#d25252
border-color=#d25252
