## Base16 Precious Dark Fifteen
# Author: 4lex4 &lt;4lex49@zoho.com&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#23262b
text-color=#bab9b6
border-color=#95b659

[urgency=low]
background-color=#23262b
text-color=#cfa546
border-color=#95b659

[urgency=high]
background-color=#23262b
text-color=#ff8782
border-color=#ff8782
