## Base16 Ayu Light
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fafafa
text-color=#5c6773
border-color=#86b300

[urgency=low]
background-color=#fafafa
text-color=#f2ae49
border-color=#86b300

[urgency=high]
background-color=#fafafa
text-color=#f07178
border-color=#f07178
