## Base16 Dracula
# Author: Jamy Golden (http://github.com/JamyGolden), based on Dracula Theme (http://github.com/dracula)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#282a36
text-color=#f8f8f2
border-color=#50fa7b

[urgency=low]
background-color=#282a36
text-color=#f1fa8c
border-color=#50fa7b

[urgency=high]
background-color=#282a36
text-color=#ff5555
border-color=#ff5555
