## Base16 selenized-black
# Author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
#
# You can use these variables anywhere in the mako configuration file.

background-color=#181818
text-color=#b9b9b9
border-color=#70b433

[urgency=low]
background-color=#181818
text-color=#dbb32d
border-color=#70b433

[urgency=high]
background-color=#181818
text-color=#ed4a46
border-color=#ed4a46
