## Base16 Stella
# Author: Shrimpram
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2b213c
text-color=#998bad
border-color=#acc79b

[urgency=low]
background-color=#2b213c
text-color=#c7c691
border-color=#acc79b

[urgency=high]
background-color=#2b213c
text-color=#c79987
border-color=#c79987
