## Base16 Tokyo Night Terminal Light
# Author: Michaël Ball
#
# You can use these variables anywhere in the mako configuration file.

background-color=#d5d6db
text-color=#4c505e
border-color=#33635c

[urgency=low]
background-color=#d5d6db
text-color=#8f5e15
border-color=#33635c

[urgency=high]
background-color=#d5d6db
text-color=#8c4351
border-color=#8c4351
