## Base16 Precious Dark Eleven
# Author: 4lex4 &lt;4lex49@zoho.com&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1c1e20
text-color=#b8b7b6
border-color=#95b658

[urgency=low]
background-color=#1c1e20
text-color=#d0a543
border-color=#95b658

[urgency=high]
background-color=#1c1e20
text-color=#ff8782
border-color=#ff8782
