## Base16 Atelier Estuary Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f4f3ec
text-color=#5f5e4e
border-color=#7d9726

[urgency=low]
background-color=#f4f3ec
text-color=#a5980d
border-color=#7d9726

[urgency=high]
background-color=#f4f3ec
text-color=#ba6236
border-color=#ba6236
