## Base16 Primer Dark Dimmed
# Author: Jimmy Lin
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1c2128
text-color=#909dab
border-color=#57ab5a

[urgency=low]
background-color=#1c2128
text-color=#c69026
border-color=#57ab5a

[urgency=high]
background-color=#1c2128
text-color=#f47067
border-color=#f47067
