## Base16 Spaceduck
# Author: Guillermo Rodriguez (https://github.com/pineapplegiant), packaged by Gabriel Fontes (https://github.com/Misterio77)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#16172d
text-color=#ecf0c1
border-color=#5ccc96

[urgency=low]
background-color=#16172d
text-color=#f2ce00
border-color=#5ccc96

[urgency=high]
background-color=#16172d
text-color=#e33400
border-color=#e33400
