## Base16 eris
# Author: ed (https://codeberg.org/ed)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0a0920
text-color=#606bac
border-color=#faaea2

[urgency=low]
background-color=#0a0920
text-color=#faaea2
border-color=#faaea2

[urgency=high]
background-color=#0a0920
text-color=#f768a3
border-color=#f768a3
