## Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#282b35
text-color=#939599
border-color=#df0002

[urgency=low]
background-color=#282b35
text-color=#438288
border-color=#df0002

[urgency=high]
background-color=#282b35
text-color=#b21889
border-color=#b21889
