## Base16 Porple
# Author: Niek den Breeje (https://github.com/AuditeMarlow)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#292c36
text-color=#d8d8d8
border-color=#95c76f

[urgency=low]
background-color=#292c36
text-color=#efa16b
border-color=#95c76f

[urgency=high]
background-color=#292c36
text-color=#f84547
border-color=#f84547
