## Base16 Nord Light
# Author: threddast, based on fuxialexander&#39;s doom-nord-light-theme (Doom Emacs)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#e5e9f0
text-color=#2e3440
border-color=#4f894c

[urgency=low]
background-color=#e5e9f0
text-color=#9a7500
border-color=#4f894c

[urgency=high]
background-color=#e5e9f0
text-color=#99324b
border-color=#99324b
