## Base16 Ayu Mirage
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#171b24
text-color=#cccac2
border-color=#d5ff80

[urgency=low]
background-color=#171b24
text-color=#ffd173
border-color=#d5ff80

[urgency=high]
background-color=#171b24
text-color=#f28779
border-color=#f28779
