## Base16 Pasque
# Author: Gabriel Fontes (https://github.com/Misterio77)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#271c3a
text-color=#dedcdf
border-color=#c6914b

[urgency=low]
background-color=#271c3a
text-color=#804ead
border-color=#c6914b

[urgency=high]
background-color=#271c3a
text-color=#a92258
border-color=#a92258
