## Base16 Gotham
# Author: Andrea Leopardi (arranged by Brett Jones)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0c1014
text-color=#599cab
border-color=#33859e

[urgency=low]
background-color=#0c1014
text-color=#edb443
border-color=#33859e

[urgency=high]
background-color=#0c1014
text-color=#c23127
border-color=#c23127
