## Base16 Gruvbox Material Light, Hard
# Author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f9f5d7
text-color=#654735
border-color=#6c782e

[urgency=low]
background-color=#f9f5d7
text-color=#b47109
border-color=#6c782e

[urgency=high]
background-color=#f9f5d7
text-color=#c14a4a
border-color=#c14a4a
