## Base16 Tokyo Night Moon
# Author: Ólafur Bjarki Bogason
#
# You can use these variables anywhere in the mako configuration file.

background-color=#222436
text-color=#3b4261
border-color=#c3e88d

[urgency=low]
background-color=#222436
text-color=#ffc777
border-color=#c3e88d

[urgency=high]
background-color=#222436
text-color=#ff757f
border-color=#ff757f
