## Base16 Apprentice
# Author: romainl
#
# You can use these variables anywhere in the mako configuration file.

background-color=#262626
text-color=#5f5f87
border-color=#ffffaf

[urgency=low]
background-color=#262626
text-color=#87af87
border-color=#ffffaf

[urgency=high]
background-color=#262626
text-color=#444444
border-color=#444444
