## Base16 tarot
# Author: ed (https://codeberg.org/ed)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0e091d
text-color=#aa556f
border-color=#a68e5a

[urgency=low]
background-color=#0e091d
text-color=#ff6565
border-color=#a68e5a

[urgency=high]
background-color=#0e091d
text-color=#c53253
border-color=#c53253
