## Base16 vice
# Author: Thomas Leon Highbaugh thighbaugh@zoho.com
#
# You can use these variables anywhere in the mako configuration file.

background-color=#17191e
text-color=#8b9cbe
border-color=#0badff

[urgency=low]
background-color=#17191e
text-color=#f0ffaa
border-color=#0badff

[urgency=high]
background-color=#17191e
text-color=#ff29a8
border-color=#ff29a8
