## Base16 caroline
# Author: ed (https://codeberg.org/ed)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1c1213
text-color=#a87569
border-color=#806c61

[urgency=low]
background-color=#1c1213
text-color=#f28171
border-color=#806c61

[urgency=high]
background-color=#1c1213
text-color=#c24f57
border-color=#c24f57
