## Base16 Summerfruit Dark
# Author: Christopher Corley (http://christop.club/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#151515
text-color=#d0d0d0
border-color=#00c918

[urgency=low]
background-color=#151515
text-color=#aba800
border-color=#00c918

[urgency=high]
background-color=#151515
text-color=#ff0086
border-color=#ff0086
