## Base16 Deep Oceanic Next
# Author: spearkkk (https://github.com/spearkkk)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#001c1f
text-color=#d4e1e8
border-color=#63b784

[urgency=low]
background-color=#001c1f
text-color=#f3b863
border-color=#63b784

[urgency=high]
background-color=#001c1f
text-color=#d3464d
border-color=#d3464d
