## Base16 Da One Paper
# Author: NNB (https://github.com/NNBnh)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#faf0dc
text-color=#181818
border-color=#76a85d

[urgency=low]
background-color=#faf0dc
text-color=#b3684f
border-color=#76a85d

[urgency=high]
background-color=#faf0dc
text-color=#de5d6e
border-color=#de5d6e
