## Base16 Solar Flare
# Author: Chuck Harmston (https://chuck.harmston.ch)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#18262f
text-color=#a6afb8
border-color=#7cc844

[urgency=low]
background-color=#18262f
text-color=#e4b51c
border-color=#7cc844

[urgency=high]
background-color=#18262f
text-color=#ef5253
border-color=#ef5253
