## Base16 Catppuccin Mocha
# Author: https://github.com/catppuccin/catppuccin
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1e1e2e
text-color=#cdd6f4
border-color=#a6e3a1

[urgency=low]
background-color=#1e1e2e
text-color=#f9e2af
border-color=#a6e3a1

[urgency=high]
background-color=#1e1e2e
text-color=#f38ba8
border-color=#f38ba8
