## Base16 Primer Light
# Author: Jimmy Lin
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fafbfc
text-color=#2f363d
border-color=#28a745

[urgency=low]
background-color=#fafbfc
text-color=#ffd33d
border-color=#28a745

[urgency=high]
background-color=#fafbfc
text-color=#d73a49
border-color=#d73a49
