## Base16 ShadeSmear Dark
# Author: Kyle Giammarco (http://kyle.giammar.co)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#232323
text-color=#dbdbdb
border-color=#71983b

[urgency=low]
background-color=#232323
text-color=#307878
border-color=#71983b

[urgency=high]
background-color=#232323
text-color=#cc5450
border-color=#cc5450
