## Base16 Precious Light White
# Author: 4lex4 &lt;4lex49@zoho.com&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ffffff
text-color=#555555
border-color=#557301

[urgency=low]
background-color=#ffffff
text-color=#876500
border-color=#557301

[urgency=high]
background-color=#ffffff
text-color=#af4947
border-color=#af4947
