## Base16 Catppuccin Latte
# Author: https://github.com/catppuccin/catppuccin
#
# You can use these variables anywhere in the mako configuration file.

background-color=#eff1f5
text-color=#4c4f69
border-color=#40a02b

[urgency=low]
background-color=#eff1f5
text-color=#df8e1d
border-color=#40a02b

[urgency=high]
background-color=#eff1f5
text-color=#d20f39
border-color=#d20f39
