## Base16 DanQing Light
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fcfefd
text-color=#5a605d
border-color=#8ab361

[urgency=low]
background-color=#fcfefd
text-color=#f0c239
border-color=#8ab361

[urgency=high]
background-color=#fcfefd
text-color=#f9906f
border-color=#f9906f
