## Base16 Aztec
# Author: TheNeverMan (github.com/TheNeverMan)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#101600
text-color=#ffda51
border-color=#63d932

[urgency=low]
background-color=#101600
text-color=#eebb00
border-color=#63d932

[urgency=high]
background-color=#101600
text-color=#ee2e00
border-color=#ee2e00
