## Base16 lime
# Author: limelier
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1a1a2f
text-color=#818175
border-color=#8cd97c

[urgency=low]
background-color=#1a1a2f
text-color=#ffd15e
border-color=#8cd97c

[urgency=high]
background-color=#1a1a2f
text-color=#ff662a
border-color=#ff662a
