## Base16 Oxocarbon Dark
# Author: shaunsingh/IBM
#
# You can use these variables anywhere in the mako configuration file.

background-color=#161616
text-color=#f2f4f8
border-color=#33b1ff

[urgency=low]
background-color=#161616
text-color=#ee5396
border-color=#33b1ff

[urgency=high]
background-color=#161616
text-color=#3ddbd9
border-color=#3ddbd9
