## Base16 pandora
# Author: Cassandra Fox
#
# You can use these variables anywhere in the mako configuration file.

background-color=#131213
text-color=#f15c99
border-color=#9ddf69

[urgency=low]
background-color=#131213
text-color=#ffcc00
border-color=#9ddf69

[urgency=high]
background-color=#131213
text-color=#b00b69
border-color=#b00b69
