## Base16 Qualia
# Author: isaacwhanson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#101010
text-color=#c0c0c0
border-color=#80c990

[urgency=low]
background-color=#101010
text-color=#e6a3dc
border-color=#80c990

[urgency=high]
background-color=#101010
text-color=#efa6a2
border-color=#efa6a2
