## Base16 Tokyo Night Terminal Dark
# Author: Michaël Ball
#
# You can use these variables anywhere in the mako configuration file.

background-color=#16161e
text-color=#787c99
border-color=#41a6b5

[urgency=low]
background-color=#16161e
text-color=#e0af68
border-color=#41a6b5

[urgency=high]
background-color=#16161e
text-color=#f7768e
border-color=#f7768e
