## Base16 Materia
# Author: Defman21
#
# You can use these variables anywhere in the mako configuration file.

background-color=#263238
text-color=#cdd3de
border-color=#8bd649

[urgency=low]
background-color=#263238
text-color=#ffcc00
border-color=#8bd649

[urgency=high]
background-color=#263238
text-color=#ec5f67
border-color=#ec5f67
