## Base16 Catppuccin Macchiato
# Author: https://github.com/catppuccin/catppuccin
#
# You can use these variables anywhere in the mako configuration file.

background-color=#24273a
text-color=#cad3f5
border-color=#a6da95

[urgency=low]
background-color=#24273a
text-color=#eed49f
border-color=#a6da95

[urgency=high]
background-color=#24273a
text-color=#ed8796
border-color=#ed8796
