## Base16 Material Palenight
# Author: Nate Peterson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#292d3e
text-color=#959dcb
border-color=#c3e88d

[urgency=low]
background-color=#292d3e
text-color=#ffcb6b
border-color=#c3e88d

[urgency=high]
background-color=#292d3e
text-color=#f07178
border-color=#f07178
