## Base16 Kanagawa
# Author: Tommaso Laurenzi (https://github.com/rebelot)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1f1f28
text-color=#dcd7ba
border-color=#76946a

[urgency=low]
background-color=#1f1f28
text-color=#c0a36e
border-color=#76946a

[urgency=high]
background-color=#1f1f28
text-color=#c34043
border-color=#c34043
