## Base16 Brush Trees
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#e3efef
text-color=#6d828e
border-color=#87b386

[urgency=low]
background-color=#e3efef
text-color=#aab386
border-color=#87b386

[urgency=high]
background-color=#e3efef
text-color=#b38686
border-color=#b38686
