## Base16 Atelier Sulphurpool
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#202746
text-color=#979db4
border-color=#ac9739

[urgency=low]
background-color=#202746
text-color=#c08b30
border-color=#ac9739

[urgency=high]
background-color=#202746
text-color=#c94922
border-color=#c94922
