## Base16 Sparky
# Author: Leila Sother (https://github.com/mixcoac)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#072b31
text-color=#f4f5f0
border-color=#78d64b

[urgency=low]
background-color=#072b31
text-color=#fbdd40
border-color=#78d64b

[urgency=high]
background-color=#072b31
text-color=#ff585d
border-color=#ff585d
