## Base16 Rosé Pine
# Author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#191724
text-color=#e0def4
border-color=#31748f

[urgency=low]
background-color=#191724
text-color=#ebbcba
border-color=#31748f

[urgency=high]
background-color=#191724
text-color=#eb6f92
border-color=#eb6f92
