## Base16 Hardcore
# Author: Chris Caller
#
# You can use these variables anywhere in the mako configuration file.

background-color=#212121
text-color=#cdcdcd
border-color=#a6e22e

[urgency=low]
background-color=#212121
text-color=#e6db74
border-color=#a6e22e

[urgency=high]
background-color=#212121
text-color=#f92672
border-color=#f92672
