## Base16 Embers
# Author: Jannik Siebert (https://github.com/janniks)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#16130f
text-color=#a39a90
border-color=#57826d

[urgency=low]
background-color=#16130f
text-color=#6d8257
border-color=#57826d

[urgency=high]
background-color=#16130f
text-color=#826d57
border-color=#826d57
