## Base16 Moonlight
# Author: Jeremy Swinarton (https://github.com/jswinarton)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#212337
text-color=#a3ace1
border-color=#2df4c0

[urgency=low]
background-color=#212337
text-color=#ffc777
border-color=#2df4c0

[urgency=high]
background-color=#212337
text-color=#ff5370
border-color=#ff5370
