## Base16 Gruber
# Author: Patel, Nimai &lt;nimai.m.patel@gmail.com&gt;, colors from www.github.com/rexim/gruber-darker-theme
#
# You can use these variables anywhere in the mako configuration file.

background-color=#181818
text-color=#f4f4ff
border-color=#73c936

[urgency=low]
background-color=#181818
text-color=#ffdd33
border-color=#73c936

[urgency=high]
background-color=#181818
text-color=#f43841
border-color=#f43841
