## Base16 Ayu Dark
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0f1419
text-color=#e6e1cf
border-color=#b8cc52

[urgency=low]
background-color=#0f1419
text-color=#ffb454
border-color=#b8cc52

[urgency=high]
background-color=#0f1419
text-color=#f07178
border-color=#f07178
