## Base16 Da One Ocean
# Author: NNB (https://github.com/NNBnh)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#171726
text-color=#ffffff
border-color=#98c379

[urgency=low]
background-color=#171726
text-color=#ff9470
border-color=#98c379

[urgency=high]
background-color=#171726
text-color=#fa7883
border-color=#fa7883
