## Base16 Material Darker
# Author: Nate Peterson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#212121
text-color=#eeffff
border-color=#c3e88d

[urgency=low]
background-color=#212121
text-color=#ffcb6b
border-color=#c3e88d

[urgency=high]
background-color=#212121
text-color=#f07178
border-color=#f07178
