## Base16 Primer Dark
# Author: Jimmy Lin
#
# You can use these variables anywhere in the mako configuration file.

background-color=#010409
text-color=#b1bac4
border-color=#3fb950

[urgency=low]
background-color=#010409
text-color=#d29922
border-color=#3fb950

[urgency=high]
background-color=#010409
text-color=#ff7b72
border-color=#ff7b72
