## Base16 Edge Dark
# Author: cjayross (https://github.com/cjayross)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#262729
text-color=#b7bec9
border-color=#a1bf78

[urgency=low]
background-color=#262729
text-color=#dbb774
border-color=#a1bf78

[urgency=high]
background-color=#262729
text-color=#e77171
border-color=#e77171
