## Base16 Blue Forest
# Author: alonsodomin (https://github.com/alonsodomin)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#141f2e
text-color=#ffcc33
border-color=#80ff80

[urgency=low]
background-color=#141f2e
text-color=#91ccff
border-color=#80ff80

[urgency=high]
background-color=#141f2e
text-color=#fffab1
border-color=#fffab1
