## Base16 Tokyo City Light
# Author: Michaël Ball
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fbfbfd
text-color=#343b59
border-color=#485e30

[urgency=low]
background-color=#fbfbfd
text-color=#4c505e
border-color=#485e30

[urgency=high]
background-color=#fbfbfd
text-color=#8c4351
border-color=#8c4351
