## Base16 emil
# Author: limelier
#
# You can use these variables anywhere in the mako configuration file.

background-color=#efefef
text-color=#313145
border-color=#0073a8

[urgency=low]
background-color=#efefef
text-color=#ff669b
border-color=#0073a8

[urgency=high]
background-color=#efefef
text-color=#f43979
border-color=#f43979
