## Base16 UwUnicorn
# Author: Fernando Marques (https://github.com/RakkiUwU) and Gabriel Fontes (https://github.com/Misterio77)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#241b26
text-color=#eed5d9
border-color=#c965bf

[urgency=low]
background-color=#241b26
text-color=#a84a73
border-color=#c965bf

[urgency=high]
background-color=#241b26
text-color=#877bb6
border-color=#877bb6
