## Base16 Everforest Dark Hard
# Author: Sainnhe Park (https://github.com/sainnhe)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#272e33
text-color=#d3c6aa
border-color=#a7c080

[urgency=low]
background-color=#272e33
text-color=#dbbc7f
border-color=#a7c080

[urgency=high]
background-color=#272e33
text-color=#e67e80
border-color=#e67e80
