## Base16 Tokyo City Terminal Dark
# Author: Michaël Ball
#
# You can use these variables anywhere in the mako configuration file.

background-color=#171d23
text-color=#d8e2ec
border-color=#8bd49c

[urgency=low]
background-color=#171d23
text-color=#ebbf83
border-color=#8bd49c

[urgency=high]
background-color=#171d23
text-color=#d95468
border-color=#d95468
