## Base16 Atelier Lakeside Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ebf8ff
text-color=#516d7b
border-color=#568c3b

[urgency=low]
background-color=#ebf8ff
text-color=#8a8a0f
border-color=#568c3b

[urgency=high]
background-color=#ebf8ff
text-color=#d22d72
border-color=#d22d72
