## Base16 eva01
# Author: Pablo Alessandro Santos Hugen
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#ffffff
border-color=#66ff66

[urgency=low]
background-color=#000000
text-color=#ffffff
border-color=#66ff66

[urgency=high]
background-color=#000000
text-color=#ffffff
border-color=#ff6666
