## Base16 Silk Light
# Author: Gabriel Fontes (https://github.com/Misterio77)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#e9f1ef
text-color=#385156
border-color=#6ca38c

[urgency=low]
background-color=#e9f1ef
text-color=#cfad25
border-color=#6ca38c

[urgency=high]
background-color=#e9f1ef
text-color=#cf432e
border-color=#cf432e
