## Base16 standardized-dark
# Author: ali (https://github.com/ali-githb/base16-standardized-scheme)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#222222
text-color=#c0c0c0
border-color=#5db129

[urgency=low]
background-color=#222222
text-color=#e1b31a
border-color=#5db129

[urgency=high]
background-color=#222222
text-color=#e15d67
border-color=#e15d67
