*.default=true

# present in 'Send this email?' dialog
title.fg={{base0A-hex}}
title.bg={{base02-hex}}
title.bold=true

# used in setup and in 'From:' etc
header.bold=true
header.fg={{base0E-hex}}

# decorative lines
border.fg={{base0D-hex}}

# requires attention
*error.bold=true
*error.fg={{base08-hex}}
*error.blink=true
*warning.fg={{base0A-hex}}
*warning.blink=true
*success.fg={{base0B-hex}}

# statusline
statusline_default.fg={{base04-hex}}
statusline_*.bg={{base02-hex}}

# message list colors
msglist_deleted.fg={{base03-hex}}
msglist_unread.fg={{base0B-hex}}
msglist_unread.bold=true
msglist_default.fg={{base06-hex}}
msglist_marked.fg={{base0A-hex}}
msglist_marked.reverse=true
msglist_flagged.fg={{base07-hex}}
# msglist_flagged.bg={{base08-hex}}
msglist_flagged.bold=true

# inbox etc
dirlist_default.fg={{base06-hex}}
dirlist_unread.fg={{base07-hex}}
dirlist_unread.bold=true

# highlight selected item
*.selected.bg={{base02-hex}}
*.selected.fg={{base0A-hex}}
*.selected.bold=true

# primarily used in account setup
selector_default.fg={{base04-hex}}
selector_chooser.bold=true
selector_focused.bg={{base0B-hex}}
selector_focused.bold=true

# command completion
completion_default.bg={{base02-hex}}
completion_gutter.bg={{base02-hex}}
completion_pill.bg={{base0C-hex}}

#dynamic
*msglist_answered.fg = {{base0B-hex}}

[viewer]
header.fg={{base0E-hex}}
header.bold=true
signature.fg={{base0B-hex}}
signature.dim=true
diff_meta.fg={{base08-hex}}
diff_meta.bold=true
diff_chunk.dim=true
diff_add.fg={{base0B-hex}}
diff_del.fg={{base08-hex}}
quote_1.fg={{base0C-hex}}
quote_2.fg={{base07-hex}}
quote_3.fg={{base0C-hex}}
quote_4.fg={{base07-hex}}
quote_3.dim=true
quote_4.dim=true
quote_x.fg={{base04-hex}}
quote_x.dim=true
