set -g pane-border-style bg=default,fg=#{{base03-hex}}
set -g pane-active-border-style bg=default,fg=#{{base0B-hex}}

set -g status-style fg=#{{base0B-hex}},bg=#{{base00-hex}}
setw -g window-status-style fg=#{{base03-hex}},bg=#{{base00-hex}}
setw -g window-status-format ' #[fg=#{{base03-hex}}]#[bg=#{{base00-hex}}]#W#[fg=#{{base03-hex}}]#[bg=#{{base00-hex}}]#F '
setw -g window-status-current-style fg=#{{base09-hex}},bg=#{{base00-hex}}
setw -g window-status-current-format ' #[fg=#{{base0B-hex}}]#[bg=#{{base00-hex}}]#W#[fg=#{{base00-hex}}]#[bg=#{{base00-hex}}]#F '
set -wg mode-style bg=default,fg=#{{base09-hex}}
set -g message-style fg=#{{base0B-hex}},bg=#{{base00-hex}}
