## Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
# You can use these variables anywhere in the mako configuration file.
sort=-time
layer=overlay
icons=0
max-icon-size=64
default-timeout=5000
ignore-timeout=1
font=Iosevka Nerd Font 12

background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base0B-hex}}

[urgency=low]
background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base0B-hex}}

[urgency=high]
background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base08-hex}}
